@import "libs/slick";
@import "libs/select2";
@import "libs/jquery.scrollbar";

@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/reset";
@import "base/typography";
@import "base/base";

@import "includes/header";
@import "includes/footer";

@import "components/loader";
@import "components/menu";
@import "components/popups";
@import "components/cookies";

@import "pages/home-page";
@import "pages/winners";
@import "pages/toys";
@import "pages/faq";
@import "pages/account";

body,
html {
  position: relative;
  overflow-x: hidden;
  font-family: 'Marvin', sans-serif;
}

body {
  padding-top: 70px;

  @include response-to(small) {
    padding-top: 78px;
  }
}

main {
  position: relative;
  z-index: 1;
}
