.first-section {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../../img/first-sec-bg.png');
  background-color: #fff;
  overflow: hidden;
  position: relative;
  z-index: 1;

  @include response-to(small) {
    background-image: url('../../img/first-sec-bg-mob.png');
    background-position: center left;
  }

  &__wrap {
    position: relative;
    padding-bottom: 57px;

    @include response-to(small) {
      display: flex;
      flex-direction: column;
      padding-bottom: 0;
    }
  }

  &__logo-text-img {
    display: block;
    margin-bottom: 19px;
    height: auto;
    margin-left: 69px;

    @include response-to(large) {
      height: auto;
      width: 350px;
    }

    @include response-to(small) {
      width: 230px;
      transform: rotate(1.5deg);
      margin: -7px auto -24px;
      position: relative;
      z-index: 2;
    }
  }

  .qr {
    display: flex;
    align-items: flex-start;

    @include response-to(small) {
      display: none;
    }

    &__img {
      position: relative;
      margin-right: 42px;

      &_wrap {
        z-index: 1;
        position: relative;

        &:before {
          content: '';
          position: absolute;
          background-color: #fff;
          width: 158px;
          height: 160px;
          z-index: 0;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%) skewY(-3deg) skewX(-3deg);
        }

        img {
          display: block;
          position: relative;
          z-index: 1;
        }
      }

      &_text {
        margin-top: 27px;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        color: #fff;
      }
    }

    &__text {
      max-width: 336px;
      color: #fff;

      @include response-to(small) {
        text-align: center;
      }

      &_date {
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
      }

      &_text {
        font-size: 19px;
        line-height: 26px;
        margin-bottom: 5px;
      }
    }
  }

  &__main-img {
    position: absolute;
    bottom: -22px;
    right: -29px;

    @include response-to(large) {
      right: 0;
    }

    @include response-to(small) {
      order: 2;
      position: relative;
      bottom: unset;
      right: unset;
    }

    &_img {
      position: relative;
      z-index: 2;

      @include response-to(large) {
        height: auto;
        width: 510px;
      }

      @include response-to(small) {
        width: 295px;
        display: block;
        margin: 0 auto;
      }
    }

    &_overlay {
      position: absolute;
      z-index: 1;
      left: -149px;
      bottom: -691px;
      mix-blend-mode: screen;
      filter: blur(20px);
      animation-timing-function: linear;
      animation-name: overlayRotate;
      animation-iteration-count: infinite;
      animation-duration: 5s;

      @include response-to(large) {
        left: -259px;
      }

      @include response-to(small) {
        width: 618px;
        height: auto;
        left: -113px;
        bottom: -338px;
      }
    }
  }
}

@keyframes overlayRotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}