.second-section {
  background-image: url('../../img/footer-bg.png');
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 2;

  @include response-to(small) {
    background-image: url('../../img/second-sec-bg-mob.png');
  }

  &:before {
    position: absolute;
    content: '';
    width: 150%;
    height: 85px;
    left: 50%;
    transform: translateX(-50%);
    background-image: url('../../img/blur.png');
    background-size: contain;
    top: -38px;

    @include response-to(small) {
      background-image: url('../../img/blur-mb.png');
      top: -45px;
    }
  }

  &__mob-text {
    display: none;
    position: relative;
    z-index: 10;
    max-width: 369px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 0 3px;

    @include response-to(small) {
      display: block;
    }

    &_date {
      font-family: 'Montserrat', sans-serif;
      color: $yellow;
      font-weight: bold;
      font-size: 16px;
      line-height: 20px;
    }

    &_text {
      font-size: 19px;
      line-height: 26px;
      color: #fff;
      margin-top: 3px;
      margin-bottom: 31px;
    }

    &_btn {
      font-size: 28px;
      line-height: 38px;
      display: block;
      color: $dark-blue;
      position: relative;

      &:before {
        position: absolute;
        z-index: -1;
        content: '';
        top: -14px;
        left: 50%;
        transform: translateX(-50%);
        background-image: url('../../img/play-btn-bg.svg');
        background-size: contain;
        background-repeat: no-repeat;
        width: 100%;
        height: 61px;
        background-position: center;
      }

      @include on-event {

        &:before {
          background-image: url('../../img/play-btn-bg-event.svg');
        }
      }
    }
  }

  &__wrap {
    padding-top: 35px;
    padding-bottom: 52px;
    display: flex;

    @include response-to(large) {
      justify-content: space-between;
    }

    @include response-to(small) {
      flex-direction: column;
      max-width: 322px;
      margin: 0 auto;
      padding: 40px 0 74px;
    }
  }

  &__item {
    position: relative;
    background-color: #fff;
    background-size: cover;
    height: 208px;

    @media(max-width: 1240px) and (min-width: 767px)  {
      clip-path: unset!important;
      flex: 0 0 24% !important;
      margin: 0!important;
      padding-left: 0!important;
      padding-right: 0!important;
      text-align: center;
    }

    @include response-to(small) {
      flex: unset!important;
      width: 100%;
    }

    &:before {
      position: absolute;
      z-index: 1;
      content: '';
      display: block;
      background-repeat: no-repeat;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background-color: #FFD733;
      height: 194px;

      @media(max-width: 1240px) and (min-width: 767px)  {
        clip-path: unset!important;
        width: 95% !important;
      }

      @include response-to(small) {
        width: 302px!important;
      }
    }

    &.first {
      padding: 3px 8px 19px 30px;
      flex: 0 0 302px;
      clip-path: polygon(0 0, 220px 0, 100% 100%, 0 100%);
      margin-right: -70px;

      @include response-to(small) {
        height: 213px;
        clip-path: polygon(0 0, 100% 0, 100% 157px, 0 100%) !important;
        margin-right: 0;
        margin-bottom: -47px;
        padding-top: 7px;
        padding-left: 40px;
      }

      &:before {
        background-image: url('../../img/sec-section-item1-bg.svg');
        background-position: left top;
        clip-path: polygon(0 0, 205px 0, 281px 100%, 0 100%);
        width: 284px;

        @include response-to(small) {
          clip-path: polygon(0 0, 100% 0, 100% 141px, 0 100%) !important;
          background-image: url('../../img/sec-section-item1-bg-mob.png');
          background-position: right top;
        }
      }

      .second-section__item_caption,
      .second-section__item_text {
        padding-left: 5px;
      }
    }

    &.second {
      padding: 3px 8px 19px 84px;
      flex: 0 0 358px;
      clip-path: polygon(0 0, 100% 0, 326px 100%, 85px 100%);
      margin-right: -21px;

      @include response-to(small) {
        margin-right: 0;
        height: 250px;
        clip-path: polygon(0 58px, 100% 0, 100% 100%, 0 228px);
        padding-left: 40px;
        padding-top: 50px;
      }

      &:before {
        background-image: url('../../img/sec-section-item2-bg.svg');
        background-position: center top;
        width: 338px;
        clip-path: polygon(0 0, 100% 0, 308px 100%, 79px 100%);

        @include response-to(small) {
          clip-path: polygon(0 56px, 100% 0, 100% 100%, 0 calc(100% - 20px));
          height: 234px;
          background-image: url('../../img/sec-section-item2-bg-mob.png');
          background-position: right bottom;
        }
      }

      .second-section__item_caption,
      .second-section__item_text {
        padding-left: 14px;
      }
    }

    &.third {
      padding: 3px 8px 19px 65px;
      flex: 0 0 385px;
      clip-path: polygon(33px 0, 305px 0, 100% 100%, 0 100%);
      margin-right: -70px;

      @include response-to(small) {
        margin-right: 0;
        height: 233px;
        clip-path: polygon(0 0, 100% 20px, 100% 185px, 0 100%);
        margin-top: -10px;
        padding-left: 40px;
        padding-top: 11px;
      }

      &:before {
        background-image: url('../../img/sec-section-item3-bg.svg');
        background-position: left top;
        width: 366px;
        clip-path: polygon(29px 0, 291px 0, 100% 100%, 0 100%);

        @include response-to(small) {
          height: 210px;
          clip-path: polygon(0 0, 100% 17px, 100% calc(100% - 43px), 0 100%);
          background-image: url('../../img/sec-section-item3-bg-mob.png');
          background-position: left top;
        }
      }

      .second-section__item_caption {
        padding-left: 17px;
      }

      .second-section__item_text  {
        padding-left: 20px;
      }
    }

    &.four {
      padding: 3px 8px 19px 94px;
      flex: 0 0 353px;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 81px 100%);

      @include response-to(small) {
        height: 230px;
        clip-path: polygon(0 54px, 100% 3px, calc(100% - 10px) 100%, 0 100%);
        margin-top: -40px;
        padding-left: 40px;
        padding-top: 44px;
      }

      &:before {
        background-image: url('../../img/sec-section-item4-bg.svg');
        background-position: center bottom;
        width: 335px;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 78px 100%);

        @include response-to(small) {
          clip-path: polygon(0 48px, 100% 0, calc(100% - 10px) 100%, 0 100%);
          height: 207px;
          background-image: url('../../img/sec-section-item4-bg-mob.png');
          background-position: left top;
        }
      }

      .second-section__item_caption {
        padding-left: 14px;
      }

      .second-section__item_text  {
        padding-left: 18px;
      }
    }

    &_num {
      position: relative;
      z-index: 1;
      font-size: 85px;
      line-height: 1;
      color: #fff;

      @include response-to(small) {
        font-size: 48px;
        line-height: 66px;
      }
    }

    &_caption {
      position: relative;
      z-index: 1;
      font-size: 30px;
      line-height: 41px;
      letter-spacing: 0.04em;
      margin-top: -11px;
      color: $dark-blue;

      @media(max-width: 1240px) and (min-width: 767px) {
        font-size: 25px;
        padding-left: 0!important;
      }

      @include response-to(small) {
        padding-left: 4px!important;
      }
    }

    &_text {
      position: relative;
      z-index: 1;
      margin-top: -2px;
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      color: $dark-blue;


      max-width: 245px;
      width: 100%;

      @media(max-width: 1240px) and (min-width: 767px) {
        font-size: 16px;
        padding-left: 0!important;
        margin: 0 auto;
      }

      @include response-to(small) {
        padding-left: 8px!important;
      }
    }
  }
}