.winners {
  background-position: center;
  background-image: url('../../img/winners-bg.png');
  background-size: cover;
  padding-top: 81px;
  padding-bottom: 67px;

  @include response-to(small) {
    padding-top: 54px;
    padding-right: 4px;
    padding-left: 15px;

  }

  &__page-caption {
    color: $dark-blue;
    font-size: 36px;
    line-height: 50px;
    text-align: center;
    margin-bottom: 28px;

    @include response-to(small) {
      font-size: 36px;
      line-height: 50px;
    }
  }

  &__search {
    width: 303px;
    display: flex;
    height: 46px;
    margin: 0 auto;

    &_label {
      //padding-top: 14px;
      height: 100%;
      display: block;
      position: relative;
      z-index: 0;

      &:before {
        position: absolute;
        z-index: 0;
        background-color: #fff;
        top: 0;
        left: -20px;
        bottom: 0;
        right: 0;
        content: '';
        transform: skewX(10deg);
        display: block;
        border: 1px solid #80858A;
        box-sizing: border-box;
      }

      span.error {
        font-family: 'Montserrat', sans-serif;
        position: absolute;
        color: #F72A16;
        top: -20px;
        right: 20px;
      }
    }

    &_input {
      max-height: 100%;
      min-height: 100%;
      box-sizing: border-box;
      text-align: center;
      font-size: 18px;
      line-height: 22px;
      color: $dark-blue;
      background-color: transparent;
      position: relative;
      z-index: 1;

      &::placeholder {
        text-align: center;
        color: #8E8E8E;
        font-size: 18px;
        line-height: 22px;
        font-family: 'Pluto sans', sans-serif;
      }
    }

    &_btn {
      background-color: transparent;
      position: relative;
      cursor: pointer;
      max-width: 56px;
      min-width: 56px;
      border: none;
      display: block;
      z-index: 1;
      margin: 0;

      &:before {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        content: '';
        background-color: #1C0C44;
        transform: skewX(-10deg);
        z-index: 0;
      }

      img {
        position: relative;
        z-index: 1;
      }
    }
  }

  &__table {
    padding-top: 10px;
    max-width: 657px;
    width: 100%;
    margin: 35px auto 0;

    &_wrap {
      padding-right: 45px;
      max-height: 710px;
      overflow-y: scroll;
      position: relative;
      box-sizing: content-box;

      .scroll-element {
        height: 100%;
        right: 2px;
        top: 0;
        width: 8px;
        position: absolute;

        div {
          display: block;
          height: 100%;
          left: 0;
          top: 0;
          width: 100%;
          position: absolute;

          .scroll-element_outer {
            overflow: visible;
            display: block;
            height: 100%;
            left: 0;
            top: 0;
            width: 100%;
            position: absolute;
          }

          .scroll-element_track {
            background: $yellow;
            left: 3px;
            width: 2px;
            display: block;
            height: 100%;
            position: absolute;
            top: 0;
          }

          .scroll-bar {
            display: block;
            width: 8px;
            background-color: $dark-blue;
            left: 0;
            position: relative;
            box-sizing: content-box;
          }
        }
      }
    }

    &_row {
      display: flex;
      width: 100%;
      align-items: center;
      margin-bottom: 24px;
      position: relative;
    }

    &_date {
      flex: 0 0 87px;
      margin-right: 10px;
      color: #80858A;
      font-size: 14px;
      line-height: 17px;
      font-family: 'Montserrat', sans-serif;

      @include response-to(small) {
        position: absolute;
        left: 0;
        top: 9px;
      }
    }

    &_email {
      flex: 0 0 170px;
      overflow: hidden;
      margin-right: 3px;
      color: #1C0C44;
      font-size: 16px;
      line-height: 20px;
      font-family: 'Montserrat', sans-serif;
      text-overflow: ellipsis;

      @include response-to(small) {
        transform: translateY(9px);
        flex: 0 0 132px;
        margin-right: 10px;
      }
    }

    &_img {
      flex: 0 0 60px;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      position: relative;
      background-color: $yellow;
      margin-right: 48px;

      @include response-to(small) {
        margin-right: 13px;
      }

      img {
        position: absolute;
        display: block;
        max-width: 78px;
        max-height: 78px;
        width: auto;
        height: auto;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }

    &_title {
      color: $dark-blue;
      font-size: 15px;
      line-height: 21px;
      text-transform: uppercase;
      flex: 0 0 auto;
      max-width: 234px;

      @include response-to(small) {
        max-width: 118px;
        font-size: 13px;
      }
    }
  }
}