.footer {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../../img/footer-bg.png');
  padding: 45px 0;

  &__wrap {
    margin: 0 auto;
    max-width: 1246px;
    width: 100%;
    text-align: center;
  }

  &__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: rgba(#fff, .6);
    margin-top: 35px;
    font-family: 'Montserrat', sans-serif;

    a {
      text-decoration: underline;
      color: $yellow;
      opacity: .6;

      @include on-event {
        text-decoration: none;
      }
    }
  }

  &__link {
    color: $yellow;
    font-size: 14px;
    line-height: 19px;
  }
}