.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  .mob-menu-btn {
    display: none;
    width: 42px;
    height: 28px;
    cursor: pointer;
    @include flex-center();

    span {
      width: 100%;
      @include transition-ease;
      position: relative;
      display: block;
      background: #1C0C44;
      border-radius: 30px;
      height: 4px;

      &:before,
      &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 4px;
        left: 0;
        background: #1C0C44;
        border-radius: 30px;
        @include transition-ease;
      }

      &:before {
        top: -12px;
      }

      &:after {
        bottom: -12px;
      }
    }

    @include response-to(small) {
      display: block;

      &.active {

        span {
          background-color: transparent;

          &:before {
            transform: rotate(-45deg);
            top: 0;
          }

          &:after {
            transform: rotate(45deg);
            top: 0;
            bottom: unset;
          }
        }
      }
    }
  }

  &_wrap {
    width: 100%;
    background-color: rgba(#fff, .8);
    backdrop-filter: blur(10px);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;

    @include response-to(small) {
      height: 117px;
      padding-top: 43px;
    }
  }

  &__logo {
    transform: translateY(12px);
    position: relative;
    z-index: 2;

    @include response-to(small) {
      transform: translateY(10px);

      img {
        width: 191px;
        height: auto;
      }
    }
  }

  &__sign {
    display: flex;
    align-items: center;

    @include response-to(small) {
        background-image: url('../../img/profile-mob.png');
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      width: 30px;
      height: 37px;
      cursor: pointer;
    }

    @include on-event {

      .header__decor {
        fill: $green;
      }

      .header__sign_text {
        color: $green;
      }
    }

    &.active {

      @include response-to(small) {
        background-image: url('../../img/profile-mob-in.png');
      }

      .header__decor {
        fill: $green;
      }

      .header__sign_text {
        color: $green;
      }
    }

    &_text {
      display: block;
      margin-left: 7px;

      @include response-to(small) {
        display: none;
      }
    }

    svg {

      @include response-to(small) {
        display: none;
      }
    }
  }
}